@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown:hover .dropdown-content{
    display: block;
}
.froduct-item:hover button{
 background: #90bc79;
}
.froduct-item button:hover{
 background:#ff5200
}


.banner-section{
    background-image: url("../img/photo/bg.png");
    background-size: cover;
    background-repeat: no-repeat;


}


.DEALS-OF-THE-DAY{
    background-image: url("../img/photo/bg.png");
    background-size: cover;
    background-repeat: no-repeat;

}
.how-to-use{
  
    background-image: url("../img/photo/bg.png");
    background-size: cover;
    background-repeat: no-repeat;

}
.subscribe-section{
  
    background-image: url("../img/photo/bg.png");
    /* background-size: cover; */
    /* background-repeat: no-repeat; */


}
.our-costomar{
  
    background-image: url("../img/photo/bg.png");
    /* background-size: cover; */
    /* background-repeat: no-repeat; */


}
.feature-Start{
box-shadow: 1px 1px 2px 5px;
}
.blog-articles:hover img{
box-shadow: 1px 1px 5px 5px;
}